/*
    New style Date picker 
    2023.8.18 created by guojs
*/

.heel-web .ui-dp {
    position: relative;
}

.heel-web .ui-dp > .arrow
{
    margin-right: 2px;

    width: 10px;

    background-size: contain;
    cursor: pointer;
}

.heel-web .ui-dp > .clear {
    position: absolute;
    right: 15px;
    top: 0;
    text-align: center;

    width: 15px;
    height: inherit;

    color: #aaaaaa;
    background-color: transparent;

    font-size: 10px;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heel-web .ui-dp > .clear:hover
{
    color: #40a8e8;
}


.heel-web .dp-vw {
    width: auto;
    height: auto;
}

.heel-web .dp-vw > .datepicker {
    display: inline-block !important;
    margin: 5px 0 0 0;
    
    float: none;
}

.heel-web .dp-vw > .time-picker {
    display: inline-block;
    vertical-align: top;

    width: auto;
    min-width: 1px;
    height: 210px;

    background-color: transparent;

    overflow: hidden;
}

.heel-web .dp-vw > .time-picker > .hours
,.heel-web .dp-vw > .time-picker > .minutes 
,.heel-web .dp-vw > .time-picker > .seconds 
{
    display: inline-block;
}

.heel-web .dp-vw > .time-picker > .hours > .hours-title
,.heel-web .dp-vw > .time-picker > .minutes > .minutes-title
,.heel-web .dp-vw > .time-picker > .seconds > .seconds-title
{
    text-align: center;

    width: 60px;
    height: 35px;
    line-height: 35px;

    color: #aaaaaa;
}

.heel-web .dp-vw > .time-picker > .hours > .ul-h 
,.heel-web .dp-vw > .time-picker > .minutes > .ul-m
,.heel-web .dp-vw > .time-picker > .seconds > .ul-s
{
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;

    height: 170px;
}

.heel-web .dp-vw li.times {
    color: #40a8e8;
    background-color: transparent;
}

.heel-web .dp-vw li.select {
    color: white;
    background-color: #40a8e8;
}

.heel-web .dp-vw > .time-picker > .hours > .ul-h > li 
,.heel-web .dp-vw > .time-picker > .minutes > .ul-m > li 
,.heel-web .dp-vw > .time-picker > .seconds > .ul-s > li 
{
    padding: 0;
    text-align: center;
}

.heel-web .dp-vw > .time-picker > .hours > .ul-h > li:last-child 
,.heel-web .dp-vw > .time-picker > .minutes > .ul-m > li:last-child 
,.heel-web .dp-vw > .time-picker > .seconds > .ul-s > li:last-child 
{
    margin-bottom: 150px;
}

.heel-web .dp-vw > .toolbar {
    padding: 0 10px;
    text-align: right;

    width: 100%;
    height: 35px;
    line-height: 35px;
}

.heel-web .dp-vw > .toolbar > span {
    padding: 2px 10px;
}
