/**
	heel-web component global search style
	2023.8.7 created by guojs 
**/
.heel-web .hw-global-search {
    display: inline-block;
    /* position: relative; */
    float: right;
    margin: 0 0.3928em;
    text-align: center;

    width: 3.536em;
    min-width: 45px;
    height: 3.928em;
    line-height: 3.928em;

    font-size: inherit;
}


.heel-web .hw-global-search > .hw-global-search-icon {
    display: inline-block;
    margin: 0.8419em 0 0 0;

    font-size: 1.493em;
    color: #40a8e8;

    cursor: pointer;
}


