/**
	heel-web component dialog Style
	2023.3.28 created by guojs 
**/
.heel-web .hw-dialog {
    z-index: 1001;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    background-color: transparent;
    line-height: 100vh;	
}

.heel-web .hw-dialog > .dialog {
	position: relative;
	display: inline-block;	
	vertical-align: middle;
	margin: -5% 0 0 0;		
}

.heel-web .hw-dialog > .dialog > .dialog-content {
	width: auto;
	min-width: 50px;
	height: auto;
	min-height: 50px;
}
