/**
	heel web layout style
	2023.3.30 created by guojs 
**/
.heel-web .hw-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;	
}

.heel-web .hw-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;	
}

.heel-web .hw-scroll-y {
	overflow-x: hidden;
	overflow-y: auto;
}

.heel-web .hw-scroll-x {
	overflow-x: auto;
	overflow-y: hidden;
}
