/**
	heel-web component mask style
	2023.3.28 created by guojs 
**/
.heel-web .hw-mask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);
}
